<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inv</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="interface">
    <div class="inventory">
        <div class="inventory-top">
            <span>Инвентарь</span>
            <span class="current-slots">&nbsp;(<span id="currentWeight">0</span>/<span id="currentSlots">12</span>)</span>
        </div>
        <div class="inventory-container">
            <div class="slots">

            </div> 
        
        </div>
    </div>

    <div class="items-around">
        <div class="items-around-top">
            <span>Предметы вокруг:</span>
        </div>

        <div class="items-around-container">
            
        </div>   
    </div>
</div>
<script src="../../assets/js/rage-rpc.min.js"></script>
<script src="../../assets/js/jquery-3.4.1.min.js"></script>
<script src="../../assets/js/jquery-ui.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>